 <h1>Dice Roll</h1>
 
 <form action="/process_roll">

    <label for="num_rolls">Number of dice to roll?</label>
    <input id="num_rolls" name="dice" type="text">
    
    <label for="sides_roll">How many sides per die?</label>
    <input id="sides_roll" name="sides" type="text">

    <button>Roll!</button>  
  
  </form>
